@define-mixin atSmall {
  @media (min-width: 600px) {
    @mixin-content;
  }
}

@define-mixin atSmallLandscape {
  @media (max-width: 800px) and (orientation: landscape) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 800px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1020px) {
    @mixin-content;
  }
}


@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
