/*COLORS*/

$mainBlack: #1d1e2c;
$secondaryBlack: #59656f;
$mainGray: #d7cdcc;
$mainWhite: #fff;

$mainPurple: #b237c8;
$mainOrange: #FF7F2A;
$mainGreen: #00FF00;

/*FONTS*/


$mainFont: 'Philosopher', sans-serif;
$secondaryFont: 'Nunito', sans-serif;
