/*COLORS*/

$mainBlack: #1d1e2c;
$secondaryBlack: #59656f;
$mainGray: #d7cdcc;
$mainWhite: #fff;

$mainPurple: #660080;
$mainOrange: #FF7F2A;

/*FONTS*/


$mainFont: 'Philosopher', sans-serif;
$secondaryFont: 'Nunito', sans-serif;
