.btn {
  font-family: $secondaryFont;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid $mainOrange;
  border-radius: 4px;
  padding: .7rem;
  display: inline-block;
  margin-top: 0px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;

  &--abs {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
  }

  &:hover {
    background-color: rgba($mainWhite, .9);
  }

  &--orange {
    color: $mainOrange;
    border: 2px solid $mainOrange;
    font-size: 1rem;
    &:hover {
      background-color: darken($mainOrange, 50%);
      color: $mainBlack;
    }
  }

  &--dark-border {
    border: 2px solid $mainBlack;
  }

  &--hide-on-small {
    display: none;
    @mixin atSmall {
      display: inline-block;
    }
  }

  &--large {
    margin-top: 50px;
    font-size: 1.5rem;
  }

  & span {
    display: inline-block;
    transform: rotate(270deg);
  }
}
