.site-tech {
  background-color: rgba($mainBlack, 0.9);
  position: relative;

  &__content {
    display: block;

    @mixin atSmall {
      display: flex;
      align-items: stretch;
    }
  }

  &__flex {
    @mixin atSmall {
      overflow: hidden;
      flex: 1;

      &--one {
        order: -1;
      }
    }
  }

  &__tech-list {
    text-align: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    position: relative;
    top: 700px;
    transform: scale(5.5);
    transform: rotate(10deg);
    transition: all 1s ease-in-out;


    &--is-visible {
      opacity: 1;
      top: 0;
      transform: scale(1);
      transform: rotate(3deg);
    }

    & li {
      display: block;

      @mixin atSmall {
        /*display: block;*/
      }
    }

    & i {
      display: block;
      margin: 0 auto;
    }

    & li {
      color: $mainWhite;
      list-style: none;
      font-size: 1.2rem;
      padding: 15px 0px;
      height: auto;
    }
  }

  &__landing-header {
    z-index: 0;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    @mixin atSmall {
      margin-top: 30vh;
    }
  }

  &__landing-header h1 {
    color: $mainWhite;
  }

  &__slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: 0;
        animation: imageAnimation 50s linear infinite;

        &:nth-child(1) {
          background-image: url(http://i.imgur.com/K3mPv14.jpg)
        }
        &:nth-child(2) {
          background-image: url(http://i.imgur.com/SBEmFpv.jpg);
          animation-delay: 10s;
        }
        &:nth-child(3) {
          background-image: url(http://i.imgur.com/emvhOnb.jpg);
          animation-delay: 20s;
        }
        &:nth-child(4) {
          background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
          animation-delay: 30s;
        }
        &:nth-child(5) {
          background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
          animation-delay: 40s;
        }
    }
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 0.2;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 0.3
  }
  30% {
    opacity: 0
  }
}
