.headline {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
  font-family: $mainFont;
  font-size: 2.5rem;
  color: $secondaryBlack;
  text-shadow: 2px 2px 1px rgba($mainBlack, 0.3);

  &--margin-top-large {
    margin-top: 3rem;
  }

  &--margin-bottom-large {
    margin-bottom: 2rem;
    @mixin atMedium {
      margin-bottom: 3rem;
    }
  }

  &--margin-top-small {
    margin-top: 2rem;
  }
  &--margin-bottom-small {
    margin-bottom: 2rem;
  }
  &--margin-top-smaller {
    margin-top: 1rem;
  }
  &--margin-bottom-smaller {
    margin-bottom: 1rem;
  }

  &--center {
    text-align: center;
  }

  @mixin atSmall {
    font-size: 3.2rem;
  }

  @mixin atMedium {
    font-size: 3.5rem;

  }
  @mixin atLarge {
    font-size: 3.6rem;
  }

  &--smaller {
    font-size: 1.5rem;

    @mixin atSmall {
      font-size: 2rem;
    }

    @mixin atMedium {
      font-size: 2.5rem;

    }
    @mixin atLarge {
      font-size: 3rem;
    }
  }

  &--main {
    font-size: 3rem;
    @mixin atSmall {
      font-size: 4rem;
    }
    @mixin atMedium {
      font-size: 5rem;
    }
  }

  &__subtitle {
    font-family: $mainFont;
    font-size: 1.5rem;
    color: $secondaryBlack;
    text-shadow: 2px 2px 1px rgba($mainBlack, 0.3);

    &--light {
      color: $mainWhite;
    }

    @mixin atMedium {
      font-size: 2rem;
    }

    @mixin atLarge {
      font-size: 2rem;
    }
    &--small {
      font-size: 1.2rem;
      color: $mainGray;
      text-transform: uppercase;
    }
  }

  &--black {
    color: $mainBlack;
  }

}
