.icn {
  &__icon-placeholder {
    display: block;
    margin: 0 auto -1.3rem auto;
    cursor: pointer;
    height: 80px;
    width: 80px;

    & i:hover {
      box-shadow: 0 0 7px $mainGray;
      padding:0px;
      transform:scale(.9);
    }
  }

  &__responsive {
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
  }
}
