.large-hero {
  border-bottom: 5px solid $mainOrange;
  @mixin clearfix;
  &__image {
    background-image: radial-gradient(180deg, rgba($mainPurple, 0.2), rgba(0, 0, 0, 0.9)),
    linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, 0.7)),
    url('../../assets/images/hero-smaller.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    text-align: center;

    @mixin atSmall {
      background-image: radial-gradient(180deg, rgba($mainPurple, 0.2), rgba(0, 0, 0, 0.9)),
      linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, 0.7)), url('../../assets/images/hero-small.jpg');
    }

    @mixin atMedium {
      background-image: radial-gradient(180deg, rgba($mainPurple, 0.2), rgba(0, 0, 0, 0.9)),
      linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, 0.7)), url('../../assets/images/hero-medium.jpg');
    }

    @mixin atLarge {
      background-image: radial-gradient(180deg, rgba($mainPurple, 0.2), rgba(0, 0, 0, 0.9)),
      linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, 0.7)), url('../../assets/images/large-hero.jpg');
    }
  }

  &__text-content {
    position:absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__logo__main {
    transform: scale(1);
    text-indent: -9999px;
    margin: 0 auto;
    position: relative;
    top: 45px;

    @mixin atMedium {
      transform: scale(1.5);
    }
  }

  & img {
    display: none;
    width: 25%;
    position: absolute;
    z-index: 0;
    top: 0;

    @mixin atMedium {
      top: 85px;
      display: block;
    }

    right: 0;
    margin-right: -1px;
    margin-top: -1px;
  }
}
