.main-content {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
   linear-gradient(rgba($mainPurple, 0.2), rgba(0, 0, 0, 0.6)),
   url('../../assets/images/noise.png');

  &__primary {
    margin: 0;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;

    @mixin atMedium {
      margin-right: 3%;
    }
    @mixin atLarge {
      margin-right: 5%;
    }
  }

  &__features {
    position: relative;
  }

  &__sidebar {
    border: 2px solid $mainBlack;
    box-shadow: inset 0px 0px 15px 5px rgba($mainBlack,0.75);
    padding: 1rem;
    border-radius: 10px;
    overflow: hidden;

    @mixin atMedium {
      margin-top: 5rem;
    }
  }
}
