.modal {
  position: fixed;
  z-index: 9999;
  background-color: rgba($mainGray, .95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all .3s ease-out;
  text-align: center;


  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner {
    position: absolute;
    width: 100%;
    top: 0;
  }

  &__img {
    position: absolute;
    max-width: 800px;
    max-height: 600px;
    border: 5px solid $secondaryBlack;
    border-radius: 20px;
    overflow: hidden;
    width: 90%;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);

    & img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__description {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.65;
  }

  &__close {
    position: absolute;
    z-index: 9999;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    color: $mainBlack;
    cursor: pointer;

    &:hover {
      color: $mainOrange;
    }
  }
}
