.plans {
  font-family: $secondaryFont;
  border: 2px solid $mainGray;
  background-color: transparent;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px $mainGray;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
  transition-duration:0.5s; transform:scale(1);

  &:hover {
    box-shadow: 0 0 15px $mainGray;
    padding:3px; transform:scale(1.02);
  }

  & div {
  padding: 15px;
  border-bottom: 1px solid $mainGray;
  }

  & div:first-child {
    background-color: rgba($secondaryBlack, .5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  & div:last-child {
    text-align: center;
    border: 0;
    background-color: rgba($secondaryBlack, .3);

  }

  &__price {
    font-size: 200%;
    margin-bottom: 10px;
    font-weight: 100;
    color: $mainOrange;

    @mixin atMedium {
      font-size: 250%;
    }
    @mixin atLarge {
      font-size: 300%;
    }
  }

  &__price span {
    font-size: 30%;
    font-weight: 300;
  }

  & ul {
    list-style: none;
    padding: 0;
  }

  & ul li {
    font-family: $mainFont;
    font-size: 1rem;
    color: $secondaryBlack;
    padding: .5rem 0px;
    text-align: center;
    @mixin atMedium {
      text-align: center;
    }

    & span {
      display: inline-block;
      position: relative;
      top: .3rem;
      right: .2rem;
      color: $mainOrange;
      font-size: 2rem;
    }
  }
}
