.my-portfolio {
  width: 100%;
  min-height: 100vh;
  text-align: center;

  background-image: linear-gradient(rgba($mainPurple, 0.5), rgba(0, 0, 0, 0.8)),
  url('../../assets/images/grilled-noise.png');
  background-attachment: fixed;

  &__image {
    width: 242px;
    height: 195px;
    margin: 2rem auto;
    background-image:
    url('../../assets/images/1.png');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;

    @mixin atSmall {
      width: 482px;
      height: 389px;
    }
    display: block;

    &:hover {
      background-image:
      url('../../assets/images/2.png');
    }

  }
}
