.wrapper {
  padding: 0;
  overflow: hidden;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

  @mixin atSmall {
    padding-left: 18px;
    padding-right: 18px;
  }

  &--narrow {
    width: 100%;
    margin: 0 auto;
  }

  &--top-bottom-margin {
    margin: 2rem 0;
  }
}
